{% extends 'base_login.html' %}
{% block content %}
<form action="" method="POST">
    <section>
        {% csrf_token %}
        <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
          <div class="relative flex-grow w-full">
            <label for="아이디" class="leading-7 text-sm text-gray-600">아이디</label>
            <input type="text" id="아이디" name="아이디" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative flex-grow w-full">
            <label for="패스워드" class="leading-7 text-sm text-gray-600">패스워드</label>
            <input type="password" id="패스워드" name="패스워드" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <input type="submit" value="로그인" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-base"></input>
        </div>
          <div class="text-center mt-16">
          <a href="{% url 'user:register' %}" class="leading-7 text-sm text-gray-600">회원가입</a>
          </div>
          <div class="text-center">
          <a href="" class="leading-7 text-sm text-gray-600">비밀번호 찾기</a>
          </div>
    </section>
</form>
{% endblock content %}